
html,
body{
 background-color: rgb(245,245,245)
}


body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #000	;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.googleButton {
  background-color: #FF0000;
  float: left;
  color: #FFFF;
  border: none;
  padding: 15px;
  font-size: 17px;
}

.lebel {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1rem;
}

.front {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 50px;
}


.welcom {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 70px;
}

.button ,button{
  background-color: #FF0000;
  color: #FFFF;
  border: none;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;;
  color: white;
  text-align: center;
}

.login {
  background-color: #FF0000;
  color: white;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  width: 50%;
  margin: auto;
}
